.container {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
  width: 100%;

  :global(.react-pdf__Page__canvas),
  :global(.textLayer) {
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &.container-html {
    overflow: hidden;
    background: #ffffff;
  }

  iframe,
  .html-inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.loading {
  text-align: center;
  background: #ffffff;
  padding: 10px;
}

.control-bar {
  box-sizing: border-box;
  padding: 10px 20px;
  height: 60px;
  line-height: 40px;
  background: #222;
  color: #fff;
  position: relative;
  z-index: 2;

  input {
    width: 60px;
    text-align: center;
    background: #222;
    color: #ffffff;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  :global(.ant-btn) {
    color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
    border: none;
  }
}

.scroller {
  background: #999;
}

.outer {
  border: solid #999 10px;
  //overflow-x: auto;
  //user-select: none;
}

.file-name {
  position: absolute;
  left: 10px;
  top: 10px;
}

.file-options {
  position: absolute;
  right: 10px;
  top: 10px;
}

.scale-input {
  text-align: center;

  :global {
    .ant-col:not(:last-child) {
      display: none;
    }
  }
}

.text-outer,
.error,
:global(.react-pdf__message) {
  background: #ffffff;
}

.text-inner {
  background: #ffffff;
  padding: 20px;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: left;
}

.md-inner {
  background: #ffffff;
  padding: 20px;

  table {
    width: 100%;
    margin: 8px 0 16px;
    empty-cells: show;
    border: 1px solid #ebedf0;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      color: #5c6b77;
      font-weight: 500;
      white-space: nowrap;
      background: rgba(0, 0, 0, 0.02);
    }

    th,
    td {
      padding: 16px 24px;
      text-align: left;
      border: 1px solid #ebedf0;
    }

    td:first-child {
      color: #595959;
      font-weight: 600;
    }

    td:nth-child(3) {
      color: #c41d7f;
    }
  }

  pre {
    background: #f2f4f5;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    border: 1px solid #eee;
    border-radius: 3px;
  }

  code {
    background: #f2f4f5;
  }

  p {
    margin: 0;
  }
}

.image-inner {
  background: #ffffff;
  display: block;
  margin: 0 auto;
}

.audio-inner,
.video-inner {
  text-align: center;
}

.video-inner {
  video {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    background: #000000;
  }
}

.html-preview-iframe {
  min-height: 800px;
  border: none;
}
